[Desktop Entry]
Type=Application
Name=BeaconFix Tray
Comment=Background location fix in the system tray
Exec=beaconfix --tray
Icon=beaconfix
Terminal=false
NoDisplay=true
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
